*{
    margin:0;
    padding:0;
}
/*css variables */
:root{
    --navbar-height: 9px;
}
/*navigation bar*/
#navbar{
    display:flex;
    align-items: center;
    list-style: none;
    position:sticky;

}
#logo{
    margin: 8px 18px;
    height: 39px;

}
#navbar ul{
    list-style: none;
    display:flex;
    align-items: center;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;

    /*color:white;*/
}
#navbar ul li a{
    display:block;
    color:white;
    padding: 5px 37px;
    margin: 2px 2px;
    border-radius: 11px;
    border:2px soild black;
    text-decoration:none;
    font-family: 'Baloo 2', cursive;

}
#navbar{
    position: relative;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content:"";
    height:100%;
    width:100%;
    background-color: black;
    position:absolute;
    z-index: -1;
    opacity: 0.4;
    font-family: 'Baloo 2', cursive;
}
#navbar ul li a:hover{
    background-color: white;
    color:black;
}
/*home*/
#home{
    display: flex;
    flex-direction:column;
    padding:5px 112px;
    height:400px;
    justify-content: center;
    align-items: center;
    
}
#home::before{
    content:"";
    height:78%;
    width:100%;
    background:url(./img/bg1.jpg) no-repeat center center/cover;
    position:absolute;
    top:0px;
    left:0px;
    z-index: -1;
    opacity: 0.8;
}
#home h1{
    color:white;
    text-align: center;
    padding:21px 2px;
    font-size: 2rem;  
    font-family: 'Poppins', sans-serif; 
}
#home p{
    color:white;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}
/*utility class*/
.h-primary{
    font-size:2.5rem;
    padding:11px 0px;
    

}
.h-secondary{
    font-size: 1.5rem;
    padding:2px;
}
.center{
    text-align: center;
}
.btn{
    padding: 5px 11px;
    border: 1px solid white;
    background-color: red;
    color: white;
    margin: 16px 8px;
    font-size: 1.5rem;
    border-radius: 27px;
    cursor: pointer;
}
/*services section*/
.service-container{
    margin:48px 17px;
    
   
    
}
#services{
    display:flex;
    flex-direction: row;
}
#services .box{
    border: 2px solid brown;
    border-radius: 30px;
    margin: 18px 39px;
    padding: 39px 31px;
    background-color: antiquewhite;
}
#services .box img{
    height:150px;
    margin:auto;
    display:block;

}
#services .box p{
    font-family: 'Poppins', sans-serif;

}
/*cllient- section*/
#clients-section{
    margin:2px;
}
#clients-section::before{
    content:"";
    position: relative;
    background: url('./img/bg.jpg');

}

#clients{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.client-item{
    margin: 11px 12px;
    padding: 7px 11px;
}

#clients  img{
    height:124px;
}
/*contact section*/
#contact{
    position: relative;
    margin:2px;
    width:100%;
    height:100%;
    

}
#contact::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    opacity:0.7;
    background: url('./img/contact.jpg ') no-repeat center center/cover;
}
#contact-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
    
}
#contact-box input{
    font-size: 1rem;
    width:100%;
    padding:4px;
    border-radius: 9px;
    font-family:  'Baloo 2', cursive;

}
#contact-box textarea{
    font-size: 1.3rem;
    padding:1.5rem;
    height:30%;
    border-radius: 9px;
    width:100%;

}
#contact-box label{
    font-size: 1.5rem;
    margin:2px 2px;
}
#contact-box form{
    width:40%;
}

footer{
    color:white;
    background-color: black;
    padding:9px 21px;
}

